@charset "UTF-8";

/* 로그인 */
.link {
	float: right;
	display: flex;
	align-items: center;
	margin-left: auto; /* 나머지 공간을 로그인에 맡김 */
}

.login-link, .logout-link, .mypage-link {
	font-size: 16px; /* 링크 텍스트 크기 */
	color: #333; /* 링크 텍스트 색상 */
	text-decoration: none; /* 밑줄 제거 */
	margin: 0 20px 0 20px; /* 링크 간격 */
}

#login {
	display: none;
	position: fixed;
	top: 0; /* 상단에 고정 */
	right: 0px; /* 오른쪽에 고정 */
	width: 300px; /* 폼의 너비 */
	height: 100%; /* 전체 높이 */
	background-color: rgba(255, 255, 255, 0.5); /* 불투명 배경 */
	padding: 20px;
	z-index: 1001; /* 헤더보다 높은 z-index */
}