<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smhrd.db.LiquorMapper">
	<!-- 술 이름 -->
	<select id="liqName" parameterType="String" resultType="LiquorVO">
		select liq_name as liqName from liquor_info where liq_type=#{liq_type}
	</select>
	<!-- 술 이름 -->
	
	<!-- 술 상세페이지 -->
	<select id="liqAll" parameterType="String" resultType="LiquorVO">
		select liq_name, liq_category, liq_alcohol, tasty, smell, body, sugar, food, liq_type from liquor_info where liq_type=#{liq_type}
	</select>
	<!-- 술 상세페이지 -->




















</mapper>