<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smhrd.db.MemberMapper">

	<!-- 회원가입 -->
	<insert id="insertMember" parameterType="MemberVO">
		INSERT INTO user_info
		VALUES (#{id}, #{pw}, #{name}, #{nick}, #{birthdate}, #{gender},
		#{email}, sysdate)
	</insert>
	<!-- 회원가입 끝 -->

	<!-- 로그인 -->
	<select id="selectMember" parameterType="MemberVO"
		resultType="MemberVO">
		select * from user_info where id=#{id} and pw=#{pw}
	</select>
	<!-- 로그인 끝 -->

	<!-- 회원수정 -->
	<update id="updateMember" parameterType="MemberVO">
		update user_info set
		pw=#{pw} , nick=#{nick}
		where id=#{id}
	</update>
	<!-- 회원수정 끝 -->

	<!-- 아이디 찾기 -->
	<select id="findIdByEmail" parameterType="String"
		resultType="MemberVO">
		select id from user_info where email = #{email}
	</select>
	<!-- 아이디 찾기 끝 -->

	<!-- 비밀번호 찾기 -->
	<select id="findIdById" parameterType="String"
		resultType="MemberVO">
		select * from user_info where id = #{id}
	</select>
	<!-- 비밀번호 찾기 끝 -->
	
	<!-- 회원탈퇴 시작 -->
	<delete id="delete" parameterType="String">
  	delete from user_info where id=#{id}
  	</delete>
	<!-- 회원탈퇴 끝 -->

	<!-- ID중복확인 -->
	<select id="checkid" parameterType="String" resultType="int">
        SELECT COUNT(*) FROM user_info WHERE id = #{id}
    </select>
	<!-- ID중복확인 끝 -->




</mapper>