<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.smhrd.db.PostMapper">

	<!-- 게시판 리스트 -->
	<select id="postlist" resultType="PostVO">
		select * from post_info
	</select>
	<!-- 게시판 리스트 끝 -->
	
	<!-- 게시글 저장 -->
    <insert id="insertpost" parameterType="com.smhrd.model.PostVO">
        INSERT INTO post_info (post_title, post_content)
        VALUES (#{POST_TITLE}, #{POST_CONTENT})
    </insert>
    <!-- 게시글 저장 끝 -->
    
    
	<!-- 글 카테고리 -->
	<select id="postcate" parameterType="String"
		resultType="PostVO">
		select post_category from post_info
	</select>
	<!-- 글 카테고리 끝 -->    
    
    
    
    
    

</mapper>