<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.smhrd.db.PostMapper">

	<!-- 게시판 리스트 -->
	<select id="postlist" resultType="PostVO">
		select * from post_info
	</select>
	<!-- 게시판 리스트 끝 -->
	
	<!-- 게시글 저장 -->
	<insert id="insertpost" parameterType="PostVO">
    	INSERT INTO post_info(post_title, post_content, post_file, created_at, post_views, post_likes, id)
		VALUES ('post_title 1', 'post_content 1', 'post_file 1', sysdate, 1, 1, 'id 1');
	</insert>
	<!-- 게시판 저장 끝 -->

</mapper>