@charset "UTF-8";

/* 네비가 존재경우 새겨질 경우 main */
.main {
	top: 110px;
	height: 1000px;
	padding: 20px; /* 내부 간격 설정 */
	padding-left: 250px;
}
/* 좌측네비 크기 */
.left_nav {
	position: absolute;
	margin-left: 20px;
	left: 0px; top : 110px;
	width: 200px;
	height: 100%;
	border: solid 1px rgb(45, 45, 42, 0.25);
	border-radius: 0.1%;
	top: 110px;
}

#user_info {
	align-items: center;
	border-bottom: 1px solid gray;
	padding: 20px;
	text-align: center;
}

.m_link {
	padding-top: 10px;
	font-size: 15px;
}

.s {
	padding-top: 20px;
	padding-left: 10px;
}

.s div {
	font-size: 20px;
	padding-bottom: 5px;
}

.s ol {
	padding-left: 10px;
	font-size: 15px;
}

.s ol li {
	margin-top: 10px;
}

/* 이미지 크기조절 */
.My_img>img {
	border-radius: 50%;
	width: 150px;
	height: 150px;
}