@charset "UTF-8";

main{
	margin-left: 300px; /* 좌측 네비게이션의 너비만큼 오른쪽으로 밀어줌 */
}

#linkList {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none; /* 기본 리스트 스타일 제거 */
}

.liquor-item {
    flex-basis: 33.333%; /* 한 줄에 3개의 항목을 나열하기 위해 너비 설정 */
    box-sizing: border-box; /* 패딩과 보더가 너비에 포함되도록 설정 */
    padding: 10px; /* 항목 사이의 간격 */
    text-align: center; /* 텍스트 중앙 정렬 */
}
