@charset "UTF-8";

.main {
	margin: 20px 40px 20px 40px;
	width: 95%;
	height: auto;
}

/* 정보 메인페이지 스타일 */
#pt {
	display: flex;
}

#pt>img {
	margin-right: 30px;
}

.card {
	padding: 20px;
	border-bottom: solid 1px rgb(45, 45, 42, 0.25);
}

/* 카테고리별 */
#linkList {
	list-style: none; /* 목록 스타일 제거 */
	padding: 0; /* 내부 패딩 제거 */
	margin: 0; /* 외부 여백 제거 */
	display: flex; /* 가로로 배열 */
	flex-wrap: wrap; /* 필요시 줄 바꿈 */
	justify-content: space-between; /* 요소들 사이의 간격을 최대한 벌리기 */
}

/* liquor-item의 스타일 */
.liquor-item {
	width: calc(33.33% - 20px); /* 각 항목의 너비 계산 (3개씩 가로 배열) */
	margin-bottom: 20px; /* 아래 여백 추가 */
}

.liquor-item>img {
	width: 200px;
	height: 300px;
}

/* 술별 상세 정보 스타일 */
#sc {
	height: 400px;
	border-bottom: solid 1px black;
}

.container {
	display: flex;
	height: 400px;
}

.container>div>img {
	width: 200px;
	height: 300px;
}

.left-side {
	float: left;
}

.right-side {
	margin: 20px;
}

.review {
	float: right;
}