@charset "UTF-8";

#linkList {
	list-style: none; /* 목록 스타일 제거 */
	padding: 0; /* 내부 패딩 제거 */
	margin: 0; /* 외부 여백 제거 */
	display: flex; /* 가로로 배열 */
	flex-wrap: wrap; /* 필요시 줄 바꿈 */
	justify-content: space-between; /* 요소들 사이의 간격을 최대한 벌리기 */
}

/* liquor-item의 스타일 수정 */
.liquor-item {
	width: calc(33.33% - 20px); /* 각 항목의 너비 계산 (3개씩 가로 배열) */
	margin-bottom: 20px; /* 아래 여백 추가 */
}

img {
	
}