@charset "UTF-8";


/* 로그인 폼 */
#login {
	display: none; /* 초기에는 숨김 */
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1000;
	background-color: white;
	padding: 20px;
	border: 1px solid #ccc;
}

/* 마이페이지 */
#mypage {
	display: none; /* 초기에는 숨김 */
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1000;
	background-color: white;
	padding: 20px;
	border: 1px solid #ccc;
}

/* 정보수정 */
#Update {
	display: none; /* 초기에는 숨김 */
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* 에러 메시지 */
.error_box {
	display: none;
	color: red;
	font-size: 14px;
	margin-top: 5px;
}

/* 컨테이너 */
#container {
	margin-top: 80px; /* 헤더가 가려지지 않도록 여백 추가 */
	padding: 20px;
}