@charset "UTF-8";

.main {
	top: 110px;
	height: aupx;
	padding: 20px; /* 내부 간격 설정 */
	padding-left: 250px;
}

.cate {
	margin: 20px;
	font-size: 30px;
}

.card {
	border-radius: 10px;
	border: solid 1px rgb(45, 45, 42, 0.25);
	padding: 10px;
} /* post_review */
.writing {
	border-bottom: solid;
	text-align: center;
}

.title {
	border-top: solid 1px rgb(45, 45, 42, 0.25);
	border-bottom: solid 1px rgb(45, 45, 42, 0.25);
}

.title>div {
	border-bottom: solid 1px rgb(45, 45, 42, 0.25);
}